<!DOCTYPE html>
<html lang="en" ng-app="Todo">
    <meta charset="utf-8"/>
    <head>
        <title>To Do</title>
        <script src="angular.js"></script>
        <link rel="stylesheet" type="text/css" href="todo.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

     
        
        <script>
                // Todo module
                var Todo = angular.module("Todo", []);
        
                // Create and register controller to module
                Todo.controller("ToDoCtrl", function($scope){
                    // Creating an array holder for items
                    $scope.items = [
                        //{ name: 'Sample Item'}
                        
                    ];
        
        
                    // Function to add items to array... fingers crossed X=
                    $scope.add = function (){
                        $scope.items.push($scope.new);
                        $scope.new = '';
                        
                    };
                    
                    // Delete list item at index
                    $scope.del = function(index){
                        $scope.items.splice(index, 1);
                    }

                    // Edit function stump... fixed and fully functional now
                    $scope.update = function(index, item){
                        if (item.trim() == ''){
                            return;
                        } else {
                        $scope.items[index] = item;
                        }
                    }

                    // initialisation of variable to show/hide edit and update buttons
                    $scope.editShow = true;
                    $scope.updateShow = false;

                   
                });
            </script>
    </head>

    <body ng-controller="ToDoCtrl">
       <div clas="container">
        <h1>To Do</h1>
        <ul ng-repeat="item in items track by $index">
            <li>    
                <input type="checkbox" name="tickbox" ng-model="ticked" />
                   <span ng-class="{'checked': ticked}"> {{ item }} </span>
                    <!--  Edit button -->
                    <input type="text" ng-model="editedItem" ng-show="showEditInput" />
                    <button type="submit" ng-show="editShow" ng-click="editShow = false; updateShow = true; showEditInput = true;">Edit</button>
                    <button type="submit" ng-show="updateShow" ng-click="update($index, editedItem); updateShow= false; showEditInput = false; editShow = true;">Update</button>
                                        
                    <!--  Delete button -->
                    <button type="submit" ng-click="del($index)">X</button>
            </li>          
        </ul>
        <input type="text" ng-model="new"/>
        <button type="submit" ng-click="add()">Add</button>
    </div>


    </body>
    
</html>